.funcionario_wrapper {
    background-image: url("../../../../public/city.jpg");
    background-size: cover;
    background-position: center;

    width: 100vw;
    height: 90vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    width: 100vw;
    height: 90vh;

    position: absolute;
    padding: 0;
    background-color: black;
    opacity: 0.3;
}

.styles-form {
    width: 50%;
    max-width: 600px;
    height: 50%;
    border-radius: 1em;

    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2%;
}

.styles-form input {
    padding: 3%;
    width: 75%;
    border-radius: 0.5em;
    border: none;
    transition: border-color 0.4s;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: rgba(255, 255, 255, 0.8);
    color: #1a1a1a;
}

.styles-form button {
    border-radius: 0.5em;
    border: 1px solid transparent;
    padding: 3%;
    margin-top: 2%;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    color: #AD681D;
    cursor: pointer;
    transition: box-shadow 0.4s;
}

button:hover {
    box-shadow: 0px 4px 4px #AD681D;
}