.header_wrapper {
    width: 100vw;
    height: 10vh;
    background-color: #1C1B1F;

    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-box{
    padding: 2%;
    color: #762846;
}